<h1>Demo#HEllo</h1>
<%= 1+1 %>

<% target="world"%>
<%="hello #{target}"%>

<% @array.each do |rec| %>
<%= rec %><br />
<%end%>

<br/>
<a href="/demo/index">Index Page 1</a><br/>
<%=link_to('index page 2',{:action => 'index'})%>



<br/>
ID:<%=params[:id]%>
ID: <%=@id%>
<br/>
Page:<%=@page%><br/>
Next Page :<%=@page.to_i + 1%>

<hr/>
<%=params.inspect%>



 

