
<table>
        <tr>
           <td>PageID</td>
           <td><%=f.text_field(:page_id)%></td>
        </tr>
         <tr>
           <td>Name</td>
           <td><%=f.text_field(:name)%></td>
        </tr>
        <td>Position</td>
           <td><%=f.text_field(:position)%></td>
        </tr>
         <tr>
           <td>Visible</td>
           <td><%=f.text_field(:visible)%></td>
        </tr>
        <tr>
           <td>Contentype</td>
           <td><%=f.text_field(:content_type)%></td>
        </tr>
         <tr>
           <td>Content</td>
           <td><%=f.text_field(:content)%></td>
        </tr>
      
      </table>
