<%=link_to("<<Back to List",{:action => 'index'})%>
<div class="Section Delete">
 <h2>Delete Section</h2>
  <%=form_for(:section,:url => {:action => 'destroy', :id => @section.id}) do |f|%>
       <p>Are sure you want delete section peramanently this section</p>
       <p class="referencename"><%=@section.name%></p>
       <div class="formsbutton">
         <%=submit_tag("Delete Section")%>
       </div>
  <%end%>
</div>
    
