<div class="edit section">
 <h2>Edit Section</h2>
 <%=form_for(:section,:url => {:action => 'update',:id => @section.id}) do |f|%>
          <%= render(:partial => "form", :locals => {:f => f})%>
        <%=submit_tag("Update the Section")%>

 <%end%>
</div>
