

<div align="center">
 <%=link_to("Add New Section",{:action => 'new'})%>

<h2>Section</h2>
<table border=1>
     <tr>
       <th>PageID</th>
       <th>Name</th>
       <th>Position</th>
       <th>Visible</th>
       <th>contentType</th>
       <th>content</th>
       <th> Action</th>
     </tr>
    <% @sections.each do |section|%>
      <tr>
         <td><%=section[:page_id]%></td>
         <td><%=section[:name]%></td>
         <td><%=section[:position]%></td>
         <td><%=status_tag(section[:visible])%></td>
         <td><%=section[:content_type]%></td>
         <td><%=section[:content]%></td>
         <td>  
            <%=link_to("Show",{:action => 'show',:id => section.id})%>
            <%=link_to("Edit",{:action => 'edit',:id => section.id})%>
            <%=link_to("Delete",{:action => 'delete', :id => section.id })%>

         </td>
      </tr>
     <%end%>
  </table>
</div>

