<%=link_to("<<Back to List",:action => 'index')%>
<div class="new section">
<h2>New Section</h2>
<%=form_for(:section,:url =>{:action => 'create'}) do |f|%>
        <%= render(:partial => "form", :locals => {:f => f})%>
        <%=submit_tag("Create new Section")%>
     
<%end%>
</div>
