<%=link_to("<<Back to List",:action => 'index')%>


<div class="show section">
<h2>Show individual Section</h2>
  <table>
       <tr>
          <td>PageID:</td>
          <td><%=@section.page_id%></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%=@section.name%></td>
        </tr>
        <tr>
          <td>Position:</td>
          <td><%=@section.position%></td>
        </tr>
        <tr>
          <td>Visible:</td>
          <td><%=@section.visible%></td>
        </tr>
         <tr>
          <td>ContentType:</td>
          <td><%=@section.content_type%></td>
        </tr>
        <tr>
          <td>Content:</td>
          <td><%=@section.content%></td>
         </tr>
</div>

