<table>
          <tr>
             <td>SubjectID:</td>
             <td><%=f.text_field(:subject_id)%></td>
          </tr>

          <tr>
             <td>Name</td>
             <td><%=f.text_field(:name)%></td>
          </tr>
           <tr>
             <td>Permalink</td>
             <td><%=f.text_field(:permalink)%></td>
          </tr>
           <tr>
             <td>Position</td>
             <td><%=f.text_field(:position)%></td>
          </tr>
           <tr>
             <td>Visible</td>
             <td><%=f.text_field(:visible)%></td>
          </tr>
     </table>