<%=link_to("Back to List",{:action => 'index'})%>
<div class="Page delete">
    <h2>Delete Page</h2>
    <%=form_for(:page,:url => {:action => 'destroy',:id => @page.id}) do |f|%>
       <p>Are you Sure to Delete permanently this Page </p>
       <p class="referencename"><%=@page.name%></p>
       <div class="formsbutton">
          <%=submit_tag("Delete Page")%>

    <%end%>
</div>
