<%=link_to("Back to list",{:action => 'index'})%>
<div>
<h2>Edit the Page Details</h2>
  <%=form_for(:page,:url => {:action => "update",:id => @page.id}) do |f|%>

        <%= render(:partial => "form" , :locals => { :f => f}) %>
        <%=submit_tag("Update Page")%>    
   <%end%>
</div>
