
      
<div align="center">
	   <h2>Pages</h2> 
           <%=link_to("Add new Page",{:action => "new"},:class => "action new")%>
		<table border=1>
		   <tr>
                       <th>SubjectID</th>
			<th>Name</th>
			<th>Permalink</th>
			 <th>Position</th>
	                   <th>Visible</th>
                          <th>Action</th>
                    </tr>		 
		    <%@pages.each do |page|%>
	       
		      <tr>
			  <td><%=page[:subject_id]%></td>
			  <td><%=page[:name]%></td>
			  <td><%=page[:permalink]%></td>
		          <td><%=page[:position]%></td>
		          <td><%=status_tag(page.visible)%></td>
                          <td>
                  	  <%=link_to("Show",{:action => "show", :id => page.id})%>
			  <%=link_to("Edit",{:action => "edit" , :id => page.id })%>
		          <%=link_to("Delete",{:action => 'delete',:id => page.id})%>
                          </td>
		      </tr>
	     <%end%>
	     </table>
	</div>
