<%=link_to("Back TO List",{:action => 'index'},:class => "back-link") %>
<div class="" align="center">

<%= form_for(:page,:url => {:action => 'create'}) do |f|%>
          <%= render(:partial => "form" , :locals => { :f => f}) %>
      <div class="formbuttons">
         <%=submit_tag("Add Page ")%>
      </div>
<%end%>
