<%=link_to("Back to list",{:action => 'index'})%>


<div>
<h2>Page id:<%=@page.id%></h2>
<table>
 <tr>
    <td>SubjectID:</td>
    <td><%=@page.subject_id%></td>
 </tr>
 <tr>
    <td>Name:</td>
    <td><%=@page.name%></td>
 </tr>
 <tr>
    <td>Permalink:</td>
    <td><%=@page.permalink%></td>
 </tr>
<tr>
    <td>Position:</td>
    <td><%=@page.position%></td>
 </tr>
<tr>
    <td>Visible</td>
    <td><%=@page.visible%></td>
 </tr>
</table>
</div>

