<%= link_to("<< Back to list ", {:action => 'index'}, :class => 'back-link')%>

  <div class="subject delete">
  <h2>Delete Subject </h2>
  <%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>
  
     <p> Are you sure you want to delete Permanently this subject ? </p>
     <p class="reference-name"><%=@subject.name%></p>
     <div class="form-buttons">
         <%=submit_tag("Delete Subject")%>
     </div>
<%end%>
</div>
	
