<%=link_to("Back to Index",{:action => 'index'}, :class => 'back-link')%>
 <div class="subjects edit">
     <h2>Update Subject </h2>
     <%=form_for(:subject,:url =>{:action => 'update',:id => @subject.id}) do |f|%>
          <%= render(:partial => "form", :locals => {:f => f}) %>
           <div class="form-buttons">
                <%=submit_tag("Create Subject")%>
           </div>
     <%end%>
   </div>

