/* Public Style sheet*/

html { height: 100%; width: 100%;}
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif;color: #332318;}
p,td,ul,ol,li,dl,dd { font-family: Verdana,Lucida,Arial,Helvetica,sans-serif;}
img { border: : none;}
table { border-collapse: collapse;}
table tr th, table tr td { vertical-align: top; text-align: left; padding: 3px;}
a, a:visited {color: #993120;}
a:hover{}












.clear {clear: both;}
.center {text-align: center;}

/*Structure*/
#header {height: 4em;padding-top: 1em;text-align: center;background: #993120; color: #FFFFFF;}
#header h1 {margin: 0;padding: 0;}
#main {min-height: 500px;background: #F2DC87;}
#navigation {float: left;width: 180px;min-height: 480px;padding: 10px;background: #94B26F;color: #4C2516;}
#content {padding: 10px;}
#footer {clear: both;height: 2.5em;text-align: right; background: #4C2516;color: #F2DC87;}
#footer p {margin: 0;padding: 0.5em 1em;}

/*Navigation */
#navigation ul {list-style: none;margin: 0;padding: 0;}
#navigation ul li {margin-bottom: 0.5em;}
#navigation ul ul {margin: 0.5em 0 0 1em;font-size: 0.9em;}
#navigation a{text-decoration: none;padding: 1px 3px;}
#navigation a:hover{ background: #F2DC87;}

/* Content */
#content h2 { color: #4C2516;}


